<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manhwa Log</title>
    <link rel="icon" type="image/x-icon" href="/assets/MLicon.png">

    <link rel="stylesheet" href="/styles/main.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');    
    </style>
</head>
<body>
    <div class="all">
        <nav>
            <a class="homeurl" href="/">
                <img draggable="false" src="/assets/rky-letter-logo-nobg.png" alt="">
            </a>
            
            <div class="searchBar" aria-placeholder="search">
                <form action="/search" method="post">
                    <input type="text" placeholder="search..." name="searchbar" id="searchBar">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </form>
            </div>

            <div class="filter">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="filter-options">
                <h3>FILTER BY</h3>
                <form action="/filter/rating" method="get">
                    <button>RATING</button>
                </form>
                <form action="/filter/ongoing" method="get">
                    <button>ONGOING</button>
                </form>
                <form action="/filter/completed" method="get">
                    <button>COMPLETED</button>
                </form>
                <form action="/filter/haitus" method="get">
                    <button>HAITUS</button>
                </form>
            </div >
        </nav>

        <main>

            <% if(data.length < 1){%>
                <h1>NO MANHWA FOUND</h1>
            <% }else{ %>
            <% data.forEach(manhwa => { %>  
            <div class="manhwa-cont">
                <span style="display: none;"><%= manhwa.id %></span>
                <div class="manhwa-img">
                    <img src="<%= manhwa.cover_url ? manhwa.cover_url : assets/DefaultCover.jpg%>" alt="">

                    <a class="link-cont" target="_blank" 
                        href="<%= manhwa.read_at%>">
                        <p>READ HERE</p>
                    </a>

                </div>

                <div class="manhwa-details">
                    <div class="top">
                        <h3 class="main-title"><%= manhwa.title%></h3>
                        <p class="parseLastRead">Last read: <span class="lastReadDate"><%= manhwa.last_read %></span></p>
                        <hr>
                    </div>

                    <div class="manhwa-details-mid">
                        <p>Last Chapter: <%= manhwa.last_ch %></p>
                        <p>Rating: <span style="color: gold;"><%= manhwa.rating %></span></p>
                        <p>Status: <span class="status"><%= manhwa.status %></span></p>
                    </div>
                </div>
            </div>
           
            <% }); }%>
            
            <!-- scroll to bottom button -->
            <button id="scrollToBottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                  </svg>
            </button>                                    
        </main>
        
        <p class="cpy-msg">
            Title Copied To Clipboard.
        </p>
    </div>


    <script src="/scripts/main.js"></script>
</body>
</html>